[user]
	name = Øyvin Richardsen
	email = ori@dips.no
[core]
	autocrlf = false
	excludesfile = C:\\Users\\ori\\Documents\\gitignore_global.txt
	editor = code --wait
[push]
	default = simple
[alias]
    ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    logtree = log --graph --oneline --decorate --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lol = log --graph --oneline --decorate
	unstage = reset HEAD --
	last = log -1 HEAD
	clean-master = "!sh -c '/c/Users/ori/bin/git-clean-master.sh'"
	clean-main = "!sh -c '/c/Users/ori/bin/git-clean-main.sh'"
	new-feature-branch = "!sh -c '/c/Users/ori/bin/git-new-feature-branch.sh $1'" -
	nfb = "!sh -c '/c/Users/ori/bin/git-new-feature-branch.sh $1'" -
    amend = commit --amend --no-edit
	amend-remote = "!sh -c '/c/Users/ori/bin/git-amend-remote.sh'"
	fpush = "push --force-with-lease"
    crebase = "!sh -c '/c/Users/ori/bin/git-rebase-continue.sh'"
    push-new = "!sh -c '/c/Users/ori/bin/git-push-new.sh'"
    undo = reset HEAD~1 $1
    sup = submodule update --init --remote
	co = checkout
	unstage = reset
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslbackend = schannel
